<div id="back">
    <div id="about">
        <h1><b>
            About US
</b>  </h1>
        <div>
            <hr />
            <br />
            <br />
            <h3 ><b>Who We Are</b></h3>
            <br />
            <p>
                BusBooking is a smart and intuitive online bus ticket booking portal,
                offering online bus ticket reservation services across India.  Famous
                 bus routes and bus operator are associated with us in serving people to
                  reach their destinations with utmost comfort and safety. BusBooking founders
                   have brought their unique skills together to bring the most convenient
                   travel-booking experience with an intuitive, hassle-free booking system geared
                   towards a user-friendly customer experience.

                With technology constantly changing at a rapid pace,the founders of BusBooking understand the
                importance of convenience as well as time and financial savings. BusBooking recognizes the necessity
                and opportunity to fulfil the needs of a diverse user base while building a unique user experience on
                a variety of devices, such as personal computers, web-based applications, mobile phones, and tablets.
                In addition, BusBooking strives to achieve excellence in online security and is committed to protect
                the confidentiality of customer's personal information entered in BusBooking's website.
     </p><br />
        </div>
            <div>

                <h3 id="h3"><b>Why BusBooking</b>      </h3><br />
                <p>
                    We Are providing more and more offers and new features to our customers .
<br />
                    We provides bus travellers, the most uncomplicated and hassle-free booking experience ever
</p>
            </div>
            <br/>
            <div>
            <h3 id="h3"><b>Contact Us</b>
            </h3><br />
            <div id="add">
                Head Office :<br />
                ConsultAdd Services Private Limited<br />
                402 P5 Pentagon,<br />
                Cybercity, Magarpatta City,<br />
                Pune, Maharashtra 41102<br />
                Phone: +91-40-69999828<br />
                E-mail: partners@etravelsmart.com
         </div>
        </div>
        <br />
    </div>
</div>