.outerLayout{
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top:2%;
    margin-right:0%;
}
.outerLayout1{
    border:1px solid black;
    border-radius:5px;
    width:40%;
    height:200px;
}
.sections{
    height:200px;
    border-right:1px solid black;
}
.logo{
    width: 40%;
    height:30%;
    margin-left: 20%;
}
.logo1{
    height: 25px;
    position:absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.available_seat{
background-color: blue;
}
.booked_seat{
    border:2px solid black;
}
.selected_seat{
    background: green;
    border:2px solid black;
}
.check{
    height: 25px;
    width: 30px;
    background: yellow;
}
.seatimage{
    width:20px;
    height:20px;
}
.notavail{
    cursor:not-allowed;
}

