  <div class="well">
  <form>
      <div class="row">
    <div class="col-md-5 bus_detail">
      <div class="detailheading">
        <h3>Bus Detail</h3>
      </div>
      <div >
      <br>
      <label>Bus Name :{{selectedBus.bus_name}}</label><br>
      <label>From :{{selectedBus.from}}</label><br>
      <label>To :{{selectedBus.to}}</label><br>
      <label>Date : </label><br>
      <label>Fare Charges :{{selectedBus.fare}}</label><br>
      <label>Bus Number : {{selectedBus.bus_number}}</label><br>
      <label>Boarding Time :{{selectedBus.boarding_time}}</label><br>
      </div>
    </div>
    <div class="col-md-5 bus_detail">
        <div class="detailheading"><h3>Customer Detail</h3></div>
        <div>
          <br>
        <label>Name : &nbsp;</label>
        <input type="text" name="name"/>
        <br>
        <label>Aadhar Id : &nbsp;</label>
        <input type="text" name="aadhar"/>
        <br>
        <label>Contact No. : &nbsp;</label>
        <input type="text" name="contact"/>
        <br>
        <label>No. of Person  : &nbsp;</label>
        <input type="text" name="numberofperson"/>
        <br>
        <label>Fare charges : &nbsp;</label>
        <label></label>
        <br>
        </div>
    </div>
    </div>
  </form>
  <div class="bookbutton">
    <button class="btn btn-primary">Book Now</button>
  </div>
</div>
